<f:if condition="{TSFE.beUserLogin}">
	<f:then>
		<f:if condition="<f:cObject typoscriptObjectPath='plugin.tx_nboevents.plugin-persons.show'/>">
			<div class="tx-nboevents bill">
				<address class="recipient">
					Here comes recipient...
				</address>
				<address class="pull-right">
					<f:format.nl2br><f:format.raw>{field.address}</f:format.raw></f:format.nl2br>
				</address>

				<p>
					{field.city}, <f:format.date format="d. m. Y" >today</f:format.date><br/>
					Rechnung Zahlbar bis: <f:format.date format="d. m. Y" >today + 30 days</f:format.date>
				</p>

				<h1>{field.title}</h1>
				<p>
					{field.text}
				</p>

			</div>
		</f:if>
		<div class="Rechnung">
			<f:cObject typoscriptObjectPath="plugin.tx_nboevents.plugin-persons" />
		</div>
	</f:then>
	<f:else>
		<p class="alert alert-error">
			Sie müssen angemeldet sein um diesen Bereich zu sehen.
		</p>
	</f:else>
</f:if>