<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Reservation</h1>

<f:flashMessages />

<table  class="tx_sjevents" >
	<tr>
		<th><f:translate key="tx_sjevents_domain_model_reservation.lastname" /></th>
		<th><f:translate key="tx_sjevents_domain_model_reservation.firstname" /></th>
		<th><f:translate key="tx_sjevents_domain_model_reservation.email" /></th>
		<th><f:translate key="tx_sjevents_domain_model_reservation.phone" /></th>
		<th><f:translate key="tx_sjevents_domain_model_reservation.reservationnotes" /></th>
		<th><f:translate key="tx_sjevents_domain_model_reservation.address" /></th>
		<th><f:translate key="tx_sjevents_domain_model_reservation.count" /></th>
		<th><f:translate key="tx_sjevents_domain_model_reservation.notes" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{reservations}" as="reservation">
		<tr>
			<td><f:link.action action="show" arguments="{reservation : reservation}"> {reservation.lastname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{reservation : reservation}"> {reservation.firstname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{reservation : reservation}"> {reservation.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{reservation : reservation}"> {reservation.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{reservation : reservation}"> {reservation.reservationnotes}</f:link.action></td>
			<td><f:link.action action="show" arguments="{reservation : reservation}"> {reservation.address}</f:link.action></td>
			<td><f:link.action action="show" arguments="{reservation : reservation}"> {reservation.count}</f:link.action></td>
			<td><f:link.action action="show" arguments="{reservation : reservation}"> {reservation.notes}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{reservation : reservation}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{reservation : reservation}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Reservation</f:link.action>
</f:section>