<f:layout name="Landscape" />
<f:section name="main">
	<f:flashMessages />
	<f:if condition="{reservations}">
		<span class="btn pull-right print">
			Drucken
			<i class="icon-print"></i>
		</span>
	</f:if>
	<f:link.page pageUid="50" class="btn pull-right">Kurslisten <i class="icon-arrow-right"></i></f:link.page>
	<h1>Rechnungen: <f:count>{reservations}</f:count></h1>
	<f:if condition="{reservations}">
		<f:then>
			<table class="bill-list tablesorter table-striped table-hover listtable tablesorter-ice">
				<thead>
					<tr>
						<th>Name</th>
						<th>Vorname</th>
						<th>E-Mail</th>
						<th>Adresse</th>
						<th data-sorter="false" style="width: 90px;">Telefon</th>
						<th>Kurs</th>
						<th style="width: 70px;">Preis</th>
						<th style="width: 60px;">Status</th>
					</tr>
				</thead>
				<tbody>
					<f:for each="{reservations}" as="reservation" iteration="iterationReservation">
						<f:if condition="{reservation.payed -> f:format.date(format:'d.m.Y')}">
							<f:else>
								<tr class="linked" data-href="<f:uri.action action='show' controller='Reservation' arguments='{reservation: reservation}'/>">
									<td class="highlight">
										{reservation.person.lastname}
									</td>
									<td class="highlight">
										{reservation.person.firstname}
									</td>
									<td>
										{reservation.person.email}
									</td>
									<td>
										<f:format.nl2br>{reservation.person.address}</f:format.nl2br>
									</td>
									<td>
										<f:if condition="{reservation.person.phone}">
											T: {reservation.person.phone}<br/>
										</f:if>
										<f:if condition="{reservation.person.phonemobile}">
											M: {reservation.person.phonemobile}
										</f:if>
										<f:if condition="{reservation.person.phonecompany}">
											F: {reservation.person.phonecompany}
										</f:if>
									</td>
									<td>
										{reservation.event.eventnr}.{reservation.uid}
										{reservation.event.course.title}
									<td>
										{reservation.count} x {reservation.event.course.price -> f:format.currency(currencySign:"",  decimalSeparator:"." thousandsSeparator:"'")} = {reservation.total -> f:format.currency(currencySign:"",  decimalSeparator:"." thousandsSeparator:"'")}
									</td>
									<td>
										<f:comment>
										<f:if condition="{reservation.payed}">
											<span style="display:none;">a{reservation.payed -> f:format.date(format:'ymd')}</span>
											{reservation.payed -> f:format.date(format:'d.m.y')} <i class="icon-ok"></i><br />
										</f:if>
										</f:comment>
										<f:if condition="{reservation.billsent}">
											<f:then>
												<span style="display:none;">b{reservation.billsent -> f:format.date(format:'ymd')}</span>
												{reservation.billsent -> f:format.date(format:'d.m.y')} <i class="icon-print"></i><br/>
											</f:then>
											<f:else>
												<span style="display:none;">unbearbeitet</span> <i class="icon-remove"></i>
											</f:else>
										</f:if>
									</td>
								</tr>
							</f:else>
						</f:if>
					</f:for>
				</tbody>
			</table>
			<f:if condition="{reservations}">
				<a class="top no-print" href="#top">Nach oben <i class="icon-arrow-up"></i></a>
				<span class="btn pull-right print">
					Drucken
					<i class="icon-print"></i>
				</span>
				<f:link.page pageUid="50" class="btn pull-right">Kurslisten <i class="icon-arrow-right"></i></f:link.page>
			</f:if>
		</f:then>
		<f:else>
			<p class="alert alert-info">
				Zur Zeit gibt es keine offene Rechnungen.
			</p>
			<p class="clearfix">
				<f:link.page pageUid="50" class="btn">Kurslisten <i class="icon-arrow-right"></i></f:link.page>
			</p>
		</f:else>
	</f:if>
</f:section>