<label for="lastname">
	<f:translate key="tx_sjevents_domain_model_person.lastname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="lastname" /><br />
<label for="firstname">
	<f:translate key="tx_sjevents_domain_model_person.firstname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="firstname" /><br />
<label for="email">
	<f:translate key="tx_sjevents_domain_model_person.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="email" /><br />
<label for="phone">
	<f:translate key="tx_sjevents_domain_model_person.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="reservationnotes">
	<f:translate key="tx_sjevents_domain_model_person.reservationnotes" />
</label><br />
	<f:form.textfield property="reservationnotes" /><br />
<label for="address">
	<f:translate key="tx_sjevents_domain_model_person.address" />
</label><br />
	<f:form.textfield property="address" /><br />