<table class="tx-nboevents" >
	<tr>
		<td>
			<f:translate key="tx_nboevents_domain_model_person.lastname" />
		</td>
		<td>
			{person.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nboevents_domain_model_person.firstname" />
		</td>
		<td>
			{person.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nboevents_domain_model_person.email" />
		</td>
		<td>
			{person.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nboevents_domain_model_person.phone" />
		</td>
		<td>
			{person.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nboevents_domain_model_person.reservationnotes" />
		</td>
		<td>
			{person.reservationnotes}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nboevents_domain_model_person.address" />
		</td>
		<td>
			{person.address}
		</td>
	</tr>
</table>