<div class="span5">
	<legend>Sie buchen:</legend>
	<p>
		<strong>Kurs:</strong> {event.eventnr}<br />
		<strong>Datum:</strong> {event.date -> f:format.date(format:"d.m.Y")}<br />
		<strong>Uhrzeit:</strong> {event.date -> f:format.date(format:"G:i")}
	</p>
	<f:if condition="{event.course.images.0}">
	<div class="slider-wrapper theme-default">
		<div class="ribbon"></div>
		<div id="slider" class="nivoSlider">
			<f:for each="{event.course.images}" as="image" key="number">
				<f:if condition="{image}">
					<f:image src="uploads/tx_nboevents/{image}" alt="{event.course.title}" width="380c" height="300c" />
				</f:if>
			</f:for>
		</div>
	</div>
	</f:if>
	<div class="section row-fluid">
		<div class="span11">
			<f:format.html><f:format.raw>{event.course.description}</f:format.raw></f:format.html>
		</div>
	</div>
</div>