<table class="tx-nboevents" >
	<tr>
		<td>
			<f:translate key="tx_nboevents_domain_model_reservation.lastname" />
		</td>
		<td>
			{reservation.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nboevents_domain_model_reservation.firstname" />
		</td>
		<td>
			{reservation.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nboevents_domain_model_reservation.email" />
		</td>
		<td>
			{reservation.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nboevents_domain_model_reservation.phone" />
		</td>
		<td>
			{reservation.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nboevents_domain_model_reservation.reservationnotes" />
		</td>
		<td>
			{reservation.reservationnotes}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nboevents_domain_model_reservation.address" />
		</td>
		<td>
			{reservation.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nboevents_domain_model_reservation.count" />
		</td>
		<td>
			{reservation.count}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nboevents_domain_model_reservation.notes" />
		</td>
		<td>
			{reservation.notes}
		</td>
	</tr>
</table>