.tx-nboevents .morelink:hover {
	text-decoration: none;
}

.tx-nboevents .section {
	margin-bottom: 1em;
}

.tx-nboevents a.noColor{
	color: inherit;
}
.tx-nboevents .noColor:hover{
	color: #444;
	text-decoration: none;
}

.tx-nboevents .message-error {
	display: none;
}

.tx-nboevents .row {
	margin-bottom: 1em;
}

.tx-nboevents .nboevents-list h2{
	font-size: 2em;
	margin-bottom:0em;
}