
.tx-nboevents h2 small, 
.tx-nboevents h1 small{
	font-family: QuicksandBook, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.25em;
}

.tx-nboevents h2 small{
	display:block;
	font-size: 0.4em;
	margin-top: -0.5em;
	margin-bottom: 1em;
	letter-spacing: 0px;
}

.tx-nboevents .section {
	margin-bottom: 1em;
}

.tx-nboevents a.noColor{
	color: inherit;
}
.tx-nboevents .noColor:hover{
	color: #444;
	text-decoration: none;
}

.tx-nboevents .message-error {
	display: none;
}

.tx-nboevents .row {
	margin-bottom: 1em;
}