.tx-nboevents .morelink:hover {
	text-decoration: none;
}

.tx-nboevents .section {
	margin-bottom: 1em;
}

.tx-nboevents a.noColor{
	color: inherit;
}
.tx-nboevents .noColor:hover{
	color: #444;
	text-decoration: none;
}

.tx-nboevents .expanded,
.tx-nboevents .message-error {
	display: none;
}

.tx-nboevents .expand {
	font-size: 0.9em;
}

.tx-nboevents .row {
	margin-bottom: 1em;
}

.tx-nboevents .nboevents-list h2{
	font-size: 1.7em;
	margin-bottom:0em;
}

.tx-nboevents .nboevents-list h2 small{
	font-size: 0.75em;
	vertical-align: top;
	display: inline;
	color: #0088CC;
}

.tx-nboevents tr.linked {
	cursor: pointer;
}

.tx-nboevents tr.linked td {
	page-break-before: always;
}


.btn.js-hidepast{
	margin-right: 40px;
}

.tx-nboevents .event-future.first td{
	border-top: 2px #afa solid;
	background-color: #dfd;
}

.tx-nboevents .event-past td{
	background-color: #eee;
}

.tx-nboevents .js-hidepast .event-past{
	display: none;
}

.tx-nboevents .addresslist address {
	width: 33%;
	float: left;
	height: 33mm;
	margin: 0; padding: 0;
	page-break-before: always;
	line-height: 29mm;
	background: #eee;
}
.tx-nboevents .addresslist address p {
	display:inline-block;
	vertical-align: bottom;
	font-size: 9pt;
	padding: 0 0 0 10mm; margin: 0;
}



@media screen {
	.tx-nboevents [contenteditable="true"] {
		border: 1px solid #999;
	}
}

@media print {
	.tx-nboevents .addresslist address {
		background: 0;
		margin: 0;
	}
}

