<div class="section row-fluid">
	<f:if condition="{noControls} < 1">
		<f:then>

			<div class="span3">
				<h3>
					{location.title}
				</h3>
				<div class="section">
					<f:format.raw>
						<f:format.nl2br>
							{location.description}
						</f:format.nl2br>
					</f:format.raw>
				</div>
				<div class="well">
					<h4>Adresse:</h4>
					<f:format.nl2br>{location.address}</f:format.nl2br>
				</div>
				<section>
					<f:if condition="{event}">
						<f:then>
							<f:link.action action="show" controller="Event" arguments="{event : event}"  class="btn">
								<i class="icon-arrow-left"></i> Zurück zum Event
							</f:link.action>
						</f:then>
						<f:else>
							<f:link.action action="list" controller="Event" class="btn">
								<i class="icon-arrow-left"></i> Zurück zur Übersicht
							</f:link.action>
						</f:else>
					</f:if>
				</section>
			</div>
			<div class="span9">
				<div class="gmap well" style="width: 100%; height: 600px;" title="{location.title}" data-address="{location.codedAddress}" data-infowindow="true" data-zoom="11">
					<h4>Adresse:</h4>
					<f:format.nl2br>{location.address}</f:format.nl2br>
				</div>
			</div>
		</f:then>
		<f:else>
			<div class="span5">
				<h3>
					<f:link.action action="show" controller="Location" arguments="{location : location, event: event}" class="noColor">
					{location.title}
					</f:link.action>
				</h3>
				<div class="section">
					<f:format.raw>
						<f:format.nl2br>
							{location.description}
						</f:format.nl2br>
					</f:format.raw>
				</div>
				<f:link.action action="show" controller="Location" arguments="{location : location, event: event}">
					Details <i class="icon-arrow-right"></i>
				</f:link.action>
			</div>
			<div class="span6">
				<div class="gmap well" style="width: 100%; height: 200px;" title="{location.title}" data-address="{location.codedAddress}" data-zoom="8">
					<h4>Adresse:</h4>
					<h5>
						{location.title}
					</h5>
					<f:format.nl2br>{location.address}</f:format.nl2br>
				</div>
			</div>
		</f:else>
	</f:if>
</div>