<f:layout name="Default" />
<f:section name="main">
	<!--f:for each="{categoriess}" as="categories">
		<div span="span2">
			<f:link.action action="show" arguments="{categories : categories}"> {categories.title}</f:link.action>
		</div>
	</f:for-->
	<div class="row nboevents nboevents-list">
		<f:if condition="{courses}">
			<f:then>
				<f:for each="{courses}" as="course" iteration="iterationCourse">
					<f:link.action action="show" arguments="{course : course}" class="morelink">
					<f:if condition="{course.images.0}">
						<f:then>
							<div class="span2">
								<f:image class="thumbnail" src="uploads/tx_nboevents/{course.images.0}" alt="{resource.title}" width="140c" height="140c" />
							</div>
							<div class="span4">
						</f:then>
						<f:else>
							<div class="span6">
						</f:else>
					</f:if>
							<h2>
								{course.title}
								<!--small>
									<f:if condition="{course.nextevent}">
										<f:then>Nächster Termin: {course.nextevent.0.date -> f:format.date(format:"j. m. Y")}</f:then>
										<f:else>Termine auf Anfrage</f:else>
									</f:if>
								</small-->
							</h2>
							<f:format.crop maxCharacters="250" append="&nbsp;<i class='icon-arrow-right'></i>"><f:format.html>{course.description}</f:format.html></f:format.crop>
					</div><!-- div span 4 or 6 -->
					</f:link.action>
					<f:if condition="{iterationCourse.index} % 2">
						</div><!-- start new row every second time-->
						<div class="row nboevents nboevents-list">
					</f:if>
				</f:for>
			</f:then>
			<f:else>
				<div class="span12">
					<h2>
						Aktuell sind keine Angebote vorhanden
					</h2>
					<p class="down">Momentan gibt es keine Angebote in dieser Kategorie. Wir stehen Ihnen jedoch gerne für Fragen und Auskünfte
						<f:link.page pageUid="16">zur Verfügung</f:link.page>.
					</p>
				</div>
			</f:else>
		</f:if>
	</div><!-- close last row -->
</f:section>