<f:layout name="Default" />
<f:section name="main">
	<div class="row">
		<f:for each="{courses}" as="course" iteration="iterationCourse">
			<f:if condition="{course.images.0}">
				<f:then>
					<div class="span2">
						<f:link.action action="show" arguments="{course : course}" class="thumbnail">
							<f:image src="uploads/tx_nboevents/{course.images.0}" alt="{resource.title}" width="140c" height="140c" />
						</f:link.action>
					</div>
					<div class="span4">
				</f:then>
				<f:else>
					<div class="span6">
				</f:else>
			</f:if>
				<h2>
					{course.title}
				</h2>
				<f:format.crop maxCharacters="250" append="&nbsp;..."><f:format.html>{course.description}</f:format.html></f:format.crop>
				<f:if condition="{f:count(subject:'{event.locations}')} > 0">
					<h3>Ort:
						<f:for each="{course.locations}" as="location" iteration="iterationLocation"><small><f:if condition="{iterationLocation.isFirst} != 1">, </f:if><f:link.action action="show" controller="Location" arguments="{location : location}">{location.title}</f:link.action></small></f:for>
					</h3>
				</f:if>
				<f:link.action action="show" arguments="{course : course}" class="btn btn">
					Kursdaten (<f:count>{course.events}</f:count>) <i class="icon-arrow-right"></i>
				</f:link.action>
			</div><!-- div span 4 or 6 -->
			<f:if condition="{iterationCourse.index} % 2">
				</div><!-- start new row every second time-->
				<div class="row">
			</f:if>
		</f:for>
	</div><!-- close last row -->
</f:section>