<f:layout name="Default" />
<f:section name="main">
	<f:flashMessages class="alert alert-success" renderMode="div"/>
	<f:if condition="{course.images.0}">
	<div class="row">
		<div class="span12">
			<h2>
				{course.title}
			</h2>
			<div class="section row-fluid">
				<div class="span11">
					<f:format.html><f:format.raw>{course.description}</f:format.raw></f:format.html>
				</div>
			</div>
		</div>
	</div>
	</f:if>
	<div class="row">
		<div class="span5">
			<f:if condition="{course.images.0}">
			<f:then>
				<div class="slider-wrapper theme-default">
					<div class="ribbon"></div>
					<div id="slider" class="nivoSlider">
						<f:for each="{course.images}" as="image" key="number">
							<f:if condition="{image}">
								<f:image src="uploads/tx_nboevents/{image}" alt="{course.title}" width="380c" height="285c" />
							</f:if>
						</f:for>
					</div>
				</div>
			</f:then>
			<f:else>
				<h2>
					{course.title}
				</h2>
				<div class="section row-fluid">
					<div class="span11">
						<f:format.html><f:format.raw>{course.description}</f:format.raw></f:format.html>
					</div>
				</div>
			</f:else>
			</f:if>
		</div>
		<div class="span7 section">
			<h3>Daten</h3>
			<f:if condition="{course.nextevent}">
				<f:then>
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Nr.</th>
								<th>Datum</th>
								<th>Beginn</th>
								<th>Preis</th>
								<th>Anmeldung</th>
							</tr>
						</thead>
						<tbody>
							<f:for each="{course.events}" as="event" iteration="ievent">
								<tr>
									<td>
										{event.eventnr}
									</td>
									<td>
										{event.date -> f:format.date(format:"j. m. Y")}
									</td>
									<td>
										{event.date -> f:format.date(format:"G:i")}
									</td>
									<td>
										<f:if condition="{course.price} > 0">
										<f:then>
											{course.price -> f:format.currency(currencySign:"CHF",  decimalSeparator:"." thousandsSeparator:"'")}
										</f:then>
										<f:else>
											auf Anfrage
										</f:else>
										</f:if>
									</td>
									<td>
										<f:if condition="{f:count(subject:'{event.reservations}')} > 0">
											<f:then>
												<f:link.page pageUid="34" >
													Informationen zur Anmeldung <i class="icon-info-sign"></i>
												</f:link.page>
											</f:then>
											<f:else>
												<f:if condition="{event.reservationsPossible} > 0">
												<f:then>
													<f:link.action action="new" controller="Reservation" arguments="{event : event}">
														Anmelden <i class="icon-user"></i>
													</f:link.action>
												</f:then>
												<f:else>
													<f:link.page pageUid="39" additionalParams="{tx_powermail_pi1:{field:{8:'{event.eventnr} – {course.title}'}}}">
														Warteliste <i class="icon-bookmark"></i>
													</f:link.page>
												</f:else>
												</f:if>
											</f:else>
										</f:if>
									</td>
								</tr>
							</f:for>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5">Dieses Angebot wird <f:count>{course.events}</f:count> mal angeboten.
							</tr>
						</tfoot>
					</table>
				</f:then>
				<f:else>
					<p>Es sind noch keine Termine bekannt. Bitte <f:link.page pageUid="16">kontaktieren Sie uns</f:link.page> für weitere Informationen.</p>
				</f:else>
			</f:if>
			
			<f:link.action action="list" class="btn btn">
				<i class="icon-arrow-left"></i> Alle Angebote anzeigen
			</f:link.action>
		</div>
	</div>
</f:section>