<f:layout name="Default" />
<f:section name="main">
	<f:flashMessages class="alert alert-success" renderMode="div"/>
	<div class="row">
		<div class="span5">
			<h2>
				{course.title}
			</h2>
			<br/>
			<div class="section row-fluid">
				<div class="span11">
					<f:format.html><f:format.raw>{course.description}</f:format.raw></f:format.html>
					<f:link.action action="list" class="btn btn">
						<i class="icon-arrow-left"></i> Alle Kurse anzeigen
					</f:link.action>
				</div>
			</div>
		</div>
	
		<div class="span7 down section">
			<f:if condition="{course.images.0}">
			<div class="slider-wrapper theme-default">
				<div class="ribbon"></div>
				<div id="slider" class="nivoSlider">
					<f:for each="{course.images}" as="image" key="number">
						<f:if condition="{image}">
							<f:image src="uploads/tx_nboevents/{image}" alt="{course.title}" width="540c" height="330c" />
						</f:if>
					</f:for>
				</div>
			</div>
			</f:if>
		</div>
	</div>
	<div class="row">
		<div class="span5 section">
			<f:if condition="{f:count(subject:'{course.locations}')} > 0">
				<h3>Ort:</h3>
				<div class="section">
					<f:for each="{course.locations}" as="location" key="number">
						<div class="section row-fluid">
							<div class="gmap well" style="width: 325px; height: 185px;" title="{location.title}" data-address="{location.codedAddress}" data-zoom="8">
								<h4>{location.title}</h4>
								<f:format.nl2br>{location.address}</f:format.nl2br>
							</div>
							<f:link.action action="show" controller="Location" arguments="{location : location, course: course}">
								Mehr Informationen zum Ort <i class="icon-arrow-right"></i>
							</f:link.action>
						</div>
					</f:for>
				</div>
			</f:if>
		</div>
		<div class="span7">
			<h3>Kursdaten</h3>
			<p>Dieser Kurs wird <f:count>{course.events}</f:count> mal durchgeführt:</p>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Kurs</th>
						<th>Datum</th>
						<th>Uhrzeit</th>
						<th>Anmeldung</th>
					</tr>
				</thead>
				<tbody>
					<f:for each="{course.events}" as="event" iteration="ievent">
						<tr>
							<td>
								{event.eventnr}
							</td>
							<td>
								{event.date -> f:format.date(format:"d.m.Y")}
							</td>
							<td>
								{event.date -> f:format.date(format:"G:i")}
							</td>
							<td>
								<f:if condition="{f:count(subject:'{event.reservations}')} > 0">
									<f:then>
										<f:link.action action="new" controller="Reservation" arguments="{event : event}">
											anpassen <i class="icon-pencil"></i>
										</f:link.action>
										&nbsp; &nbsp;
										<f:for each="{event.reservations}" as="reservation" iteration="ireservation">
											<f:link.action action="delete" controller="Reservation"
												arguments="{reservation: reservation, event:event}">
												löschen <i class="icon-trash"></i>
											</f:link.action>
										</f:for>
									</f:then>
									<f:else>
										<f:if condition="{event.reservationsPossible} > 0">
											<f:link.action action="new" controller="Reservation" arguments="{event : event}">
												anmelden <i class="icon-user"></i>
											</f:link.action>
										</f:if>
									</f:else>
								</f:if>
							</td>
						</tr>
					</f:for>
				</tbody>
			</table>
		</div><!-- div span 7 or 12 -->
	</div>
</f:section>