<f:layout name="Landscape" />
<f:section name="main">
	<f:flashMessages />

	<f:if condition="{events}">
		<span class="btn pull-right print">
			Drucken
			<i class="icon-print"></i>
		</span>
		<f:link.page pageUid="51" class="btn pull-right">Rechnungen <i class="icon-arrow-right"></i></f:link.page>
		<span class="btn pull-right js-hidepast">
			Vergangene Kurse
			<i class="icon-eye-open"></i>
		</span>
		<h1>Kurslisten</h1>
	</f:if>
	<f:if condition="{events}">
		<f:then>
			<table class="tablesorter js-hidepast table-striped table-hover listtable tablesorter-ice" data-sort="[[2,0]]">
				<thead>
					<tr>
						<th>Nr.</th>
						<th>Kurs</th>
						<th>Datum &amp; Zeit</th>
						<th>Teilnehmer</th>
						<th>Freie Plätze</th>
					</tr>
				</thead>
				<tbody>
					<f:for each="{events}" as="event">

						<f:if condition="{event.count}">
							<tr class="linked event-{event.past}" data-href="<f:uri.action action='show' controller='Event' arguments='{event: event}' />">
								<td>
									{event.eventnr}
								</td>
								<td>
									{event.course.title}
								</td>
								<td>
									<span style="display:none;">{event.date -> f:format.date(format:"U")}</span>
									{event.date -> f:format.date(format:"%d.%m.%y – %H:%m – %a")}
								</td>
								<td>
									{event.count} von {event.maxreservations}
								</td>
								<td>
									{event.remaining}
								</td>
							</tr>
						</f:if>
					</f:for>
				</tbody>
			</table>
			<p class="clearfix">
				<a class="top no-print" href="#top">Nach oben <i class="icon-arrow-up"></i></a>
				<span class="btn pull-right print">
					Drucken
					<i class="icon-print"></i>
				</span>
				<f:link.page pageUid="51" class="btn pull-right">Rechnungen <i class="icon-arrow-right"></i></f:link.page>
			</p>
		</f:then>
		<f:else>
			<p class="alert alert-info">
				Aktuell sind keine Kurse vorhanden.
			</p>
		</f:else>
	</f:if>
</f:section>