{namespace fed=Tx_Fed_ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
	<f:flashMessages class="alert alert-success" renderMode="div"/>

	<div class="row">
		<f:if condition="{event.images.0}">
			<f:then>
				<div class="span5 down section">
					<div class="slider-wrapper theme-default">
						<div class="ribbon"></div>
						<div id="slider" class="nivoSlider">
							<f:for each="{event.images}" as="image" key="number">
								<f:if condition="{image}">
									<f:image src="uploads/tx_nboevents/{image}" alt="{event.title}" width="380c" height="300c" />
								</f:if>
							</f:for>
						</div>
					</div>
					<section>
						<p class="btn-group">
						<f:link.action action="list"  class="btn">
							<i class="icon-arrow-left"></i> {event.course.title}
						</f:link.action>
						<f:if condition="{event.hasReservation} > 0">
							<f:then>
								<f:link.action action="new" controller="Reservation" arguments="{event : event}"  class="btn">
									Anmelden anpassen <i class="icon-pencil"></i>
								</f:link.action>
							</f:then>

							<f:else>
								<f:if condition="{event.reservationsPossible} > 0">
									<f:link.action action="new" controller="Reservation" arguments="{event : event}"  class="btn btn-success">
										Anmelden <i class="icon-user icon-white"></i>
									</f:link.action>
								</f:if>
							</f:else>

						</f:if>
						</p>
					</section>
				</div>
				<div class="span7">
			</f:then>
			<f:else>
				<div class="span12">
			</f:else>
		</f:if>

		<h1 class="resTitle">{event.course.title} – {event.date -> f:format.date(format:"d.m.Y")} um {event.date -> f:format.date(format:"G:i")}<small>({event.title})</small></h1>
		<f:format.raw><f:format.nl2br>{event.description}</f:format.nl2br></f:format.raw>
		<f:if condition="{f:count(subject:'{event.locations}')} > 0">
			<hr/>
			<f:for each="{event.locations}" as="location" key="number">
				<f:render partial="Location/Properties" arguments="{location:location, event:event.uid, noControls: 1}" />
			</f:for>
		</f:if>
		<f:if condition="{event.images.0} < 1">
			<div class="section">
				<hr/>
				<f:link.action action="show" controller="Course" arguments="{course : event.course}" class="btn">
					<i class="icon-arrow-left"></i> {event.course.title}
				</f:link.action>
				<f:if condition="{event.hasReservation} > 0">
					<f:then>
						<f:link.action action="new" controller="Reservation" arguments="{event : event}"  class="btn">
							Anmelden anpassen <i class="icon-pencil"></i>
						</f:link.action>
					</f:then>
					<f:else>
						<f:if condition="{event.reservationsPossible} > 0">
							<f:link.action action="new" controller="Reservation" arguments="{event : event}"  class="btn btn-success">
								Anmelden <i class="icon-user icon-white"></i>
							</f:link.action>
						</f:if>
					</f:else>
				</f:if>
			</div>
		</f:if>
	</div> <!-- span7 or span12 -->
	</div>
</f:section>