<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />
	<f:if condition="{event.reservations}">
		<f:then>
			<h1>{event.eventnr} – {event.course.title}
				<span>
					{event.date -> f:format.date(format:"d.m.Y – G:i")}
					<strong>
					{event.count} Anmeldungen
					</strong>
				</span>
			</h1>
			<table class="tablesorter table-striped table-hover tablesorter-ice" data-sort="[[0,0],[1,0]]">
				<thead>
					<tr>
						<th>Name</th>
						<th>Vorname</th>
						<th>Adresse</th>
						<th data-sorter="false">Telefon</th>
						<th>E-Mail</th>
						<th data-sorter="false">Bemerkungen</th>
						<th>#</th>
						<th>Rechnungorderstatus</th>
					</tr>
				</thead>
				<tbody>
					<f:for each="{event.reservations}" as="reservation">
						<tr class="linked" data-href="<f:uri.action action='show' pluginName='persons' pageUid='51' controller='Reservation' arguments='{reservation: reservation}' />">
							<td>
								{reservation.person.lastname}
							</td>
							<td>
								{reservation.person.firstname}
							</td>
							<td>
								<f:format.nl2br>{reservation.person.address}</f:format.nl2br>
							</td>
							<td>
								{reservation.person.phone}
							</td>
							<td>
								<f:if condition="{reservation.person.email}">
									<a href="mailto:{reservation.person.email}">{reservation.person.email}</a>
								</f:if>
							</td>
							<td>
								{reservation.notes}
							</td>
							<td>
								{reservation.count}
							</td>
							<td>
								<span style="display:none;">{reservation.pid}</span>
								<f:if condition="{reservation.payed -> f:format.date(format:'d.m.Y')}">
									<f:then>
									Bezahlt: {reservation.payed -> f:format.date(format:'d.m.Y')}<br/>
									</f:then>
									<f:else>
										<f:if condition="{reservation.pid} > 35">
											<f:if condition="{reservation.billsent -> f:format.date(format:'d.m.Y')}">Versendet: {reservation.billsent -> f:format.date(format:'d.m.Y')}<br/></f:if>
											<f:if condition="{reservation.payuntil -> f:format.date(format:'d.m.Y')}">Zahlbar bis: {reservation.payuntil -> f:format.date(format:'d.m.Y')}</f:if>
										</f:if>
									</f:else>
								</f:if>
							</td>
						</tr>
					</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<h1>{event.eventnr} – {event.course.title}
				<span>{event.date -> f:format.date(format:"d. m. Y – G:i")}</span>
			</h1>
			<p class="alert alert-info">
				Es sind keine Anmeldungen für diesen Kurs vorhanden.
			</p>
		</f:else>
	</f:if>
	<div class="footer">
		<f:if condition="{event.reservations}">
			<span class="btn pull-right print">
				Anmeldeliste Drucken
				<i class="icon-print"></i>
			</span>
		</f:if>
		<f:link.page class="btn"><i class="icon-arrow-left"></i> Kursübersicht</f:link.page>
	</div>
</f:section>